
.app-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

.tabs-container{
  display: flex;
  width: 40%;
  justify-content: space-between;
  list-style: none;
}
.tabs-container a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.tabs-container__tab-name a:hover{
  color: orange;
}
.products-container{
  color: black;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  min-height: 10vh;
}
.products-container__item-name{
  font-size: 38px;
}
.products-container__item{
  width: 30%;
  min-height: 3vh;
}